html {
  overflow-x: hidden;
}

body {
  background: url("../images/bg.jpg") no-repeat scroll 50% 0 #2b4112;

  overflow: hidden;

  user-select: none;
}




.action-button
{
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.action-button {
  position: fixed;
  bottom: 0.9%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

/* Rest of your CSS styles */
